body{
    background-image: url(https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148909258.jpg);
    background-size: cover;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.gameBoard {
    position: relative;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controlPanel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats {
    font-size: 45px;
    font-weight: normal;
    color: blueviolet;
}

button {
    background-color: rgb(179, 214, 249);
    color: blueviolet;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 40px;
}

.board, .win {
    box-shadow: 0 20px 20px rgb(79, 42, 77);
    border-radius: 10px;
    background: rgb(162, 200, 237);
}