html{
    background-image: url(https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148909258.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.disabled {
    color: gray;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.gameBoard {
    position: relative;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controlPanel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats {
    font-size: 14pt;
    font-weight: normal;
    color: blueviolet;
}

button {
    background-color: rgb(179, 214, 249);
    color: blueviolet;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 40px;
}

.board, .win {
    box-shadow: 0 20px 20px rgb(79, 42, 77);
    border-radius: 10px;
    background: linear-gradient(135deg,  #03001e 0%,#cf96f5 0%,#a0f2f1 50%, #a01b7b 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.gameBoard.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg)
}

.gameBoard.flipped .win {
    transform: rotateY(0) rotateZ(0)
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    border-radius: 5px; 
    width: 100%;
    height: 100%;
    background: rgb(179, 214, 249);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}
/* cubic beizer for a transition effect */
.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: rgb(199, 138, 229);
}

.card.flipped .card-front {
    transform: rotate(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);

}

/* .win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg) rotateZ(50deg);
    background: seashell;
} */

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: seashell;
    transform: rotateY(0deg) rotateZ(0deg);
    display: none;
}

.win.show {
    transform: rotateY(0deg) rotateZ(0deg); /* Reset transforms */
    display: block;
}


.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: blueviolet;
}

.highlight {
    color: palevioletred;
}